*{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(233, 47%, 7%);
}


.container{
    background-color: hsl(244, 38%, 16%);
    width: 68em;
    position: relative;
    left: 10em;
    top: 12em;
    border-radius: 6px;
}





