body {
    background-color: hsl(233, 47%, 7%);
    margin: 0;
    font-size: 15px;
    font-family: Inter, Lexend Deca;
}

div,p {
    color: white;
}

.container{
    background-color: hsl(244, 38%, 16%);
    position: relative;
    top: 22vh;
    height: 100%;
    margin-left: 17vw;
    margin-right: 17vw;
    border-radius: 6px;
}

.left-side{
    padding-top: 7vh;
    padding-left:  8vh;
    
    width: 50%;
    height:auto;
    float:left;
}

.title{
    font-size: 30px;
}

.content{
    line-height: 23px;
    color: hsla(0, 0%, 100%, 0.75);
}

.flex-head{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.flex{
    margin-left: 4vw;
    margin-bottom: 20px;
}

.head{
    font-size: 25px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin: 0;
}

.bottom{
    margin-top: 6px;
    color: hsla(0, 0%, 100%, 0.6);;
}

.right-side{
    
    width: 20%;
    height: auto;
    position: relative;
    bottom : 0;
    right: 0;
    float:right;
}

.photo{
    overflow: none;
}